<!DOCTYPE html>
<html lang="ja">
<head th:replace="view_parts/head :: head_fragment(title = '削除確認ページ')">
</head>
<body>
    <div th:replace="view_parts/header :: header_fragment"></div>
    <h1 class="text-center mt-3 text-danger">削除の確認</h1>
    <h3 class="text-center">以下の情報を削除してもよろしいですか？</h3>
    <div class="container">
        <form th:action="@{/employee/delete/execute_delete}" th:object="${employeeForm}" method="post" id="deleteForm">
            <div class="table-responsive">
                <table class="table table-bordered table-hover mt-3">
                    <thead class="table-primary text-center">
                        <tr>
                            <th>社員ID</th>
                            <th>社員名</th>
                            <th>社員名(カナ)</th>
                            <th>年齢</th>
                            <th>住所</th>
                            <th>メールアドレス</th>
                            <th>連絡先</th>
                            <th>入社日</th>
                            <th>部署名</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr th:each="emp : ${empCheckList}">
                            <td th:text="${emp.employeeId}"></td>
                            <td th:text="${emp.employeeName}"></td>
                            <td th:text="${emp.employeeNameKana}"></td>
                            <td th:if="${emp.employeeAge != null}" th:text="${emp.employeeAge}"></td>
                            <td th:unless="${emp.employeeAge != null}">登録なし</td>
                            <td th:if="${emp.employeeAddress != null}" th:text="${emp.employeeAddress}"></td>
                            <td th:unless="${emp.employeeAddress != null}">登録なし</td>
                            <td th:if="${emp.employeeMail != null}" th:text="${emp.employeeMail}"></td>
                            <td th:unless="${emp.employeeMail != null}">登録なし</td>
                            <td th:if="${emp.employeePhone != null}" th:text="${emp.employeePhone}"></td>
                            <td th:unless="${emp.employeePhone != null}">登録なし</td>
                            <td th:if="${emp.employeeHiredate != null}" th:text="${emp.employeeHiredate}"></td>
                            <td th:unless="${emp.employeeHiredate != null}">登録なし</td>
                            <td th:if="${emp.departmentId != null}" th:text="${emp.department.departmentName}"></td>
                            <td th:unless="${emp.departmentId != null}">登録なし</td>
                            <span><input type="hidden" th:value="${emp.employeeId}" name="checkIdList"></span>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-3">
                <button type="submit" name="delete" class="btn btn-danger mx-2 my-2">削除</button>
                <p><a th:href="@{/employee/select/list}" class="btn btn-secondary">社員一覧に戻る</a></p>
            </div>
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+4iH3v6D5y8nGMmP5Y1G6IHVwE5vT" crossorigin="anonymous"></script>
    <!-- 削除確認用JavaScript -->
    <script type="text/javascript" th:src="@{/js/deleteConfirmation.js}"></script>
</body>
</html>